body{
    background-color: whitesmoke;
    font-family: serif;
    /* color: white; */
}
h1{
    text-align: center;
    font-weight: bold;
}
.portal{
    margin-top: 28px;
}
label{
    margin-top: 16px;
    font-size: 16px;
}
button{
    margin-top: 28px;
}
#message{
    font-weight: bold;
}